body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


.download {
    text-align: center;
    margin-top: 110px;
}

.tabelaDownload {
    list-style: none;
    padding: 0;
}

.tabelaDownload li {
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.tabelaDownload li img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.tabelaDownload li h3 {
    margin: 0;
}

.tabelaDownload li p {
    margin: 0;
    display: flex;
    align-items: center;
}

.tabelaDownload li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.tabelaDownload li a img {
    margin-right: 15px;
}

.upload {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.upload h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.upload form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload input[type="file"] {
    margin-bottom: 10px;
}

.upload button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload button:hover {
    background-color: #0056b3;
}


.content {
    flex-grow: 1; /* Faz com que o conteúdo principal cresça para preencher o espaço disponível */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--laranja);
    padding: 20px;
    color: var(--textoFooter);
    text-align: center;
}


/* Floating WhatsApp Icon Styles */

i.fas.fa-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 44px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 800;
}

.whatsapp-icon i {
    line-height: 1;
}

.whatsapp-icon:hover {
    background-color: #1eac52;
}

@media screen and (max-width: 1024px) {
}


@media screen and (max-width: 768px) {
    footer {
        position: relative;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; /* Ocupar 100% da altura da janela de visualização */
        width: 100%; /* Ocupar 100% da largura */
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Altere a largura para ocupar toda a largura disponível */
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .logoFooter img {
        margin-top: 20px;
    }

    .services,
    .social {
        display: none;
    }

    .services,
    .social,
    .newsletter {
        flex-basis: auto; /* Permita que os elementos cresçam automaticamente */
    }

    .newsletter input,
    .newsletter button {
        max-width: 100%;
    }

    .newsletter h3 {
        margin-top: 10px;
        width: auto; /* Permita que o elemento cresça conforme necessário */
    }
}
