*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    align-items: center;
    height: 80%;
    position: relative;
    justify-content: center;

}


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15.3vh;
    background: rgb(131,131,131);
    background: linear-gradient(90deg, rgba(131,131,131,1) 10%, rgba(255,255,255,0) 50%, rgba(131,131,131,1) 90%);
    z-index: 51;
}


.slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.slide-list{
    display: flex;
}

.slide-item {
    flex-shrink: 0;
    padding: 0 10px;
    width: 10vw;
    cursor: grab;
}

.slide-image {
    width: 100%;
    margin-top: 5px;
}

.slide-nav-button {
    position: absolute;
    z-index: 51;
    background: transparent;
    font-size: 26px;
    cursor: pointer;
}

.slide-nav-previous {
    left: 125px;
}

.slide-nav-next {
    right: 125px;
}


@media screen and (max-width: 768px) {
    
    .slide-nav-button {
        margin-top: -20px;
    font-size: 28px;
    }

    .slide-nav-previous {
        left: 10px;
    }

    .slide-nav-next {
        right: 10px;
    }
}