body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.centered-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 63vh; /* Garante que o corpo ocupe pelo menos a altura da janela de visualização */
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 6%;
}

.conteudo {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    flex-wrap: wrap; /* Para garantir que os elementos fiquem na mesma linha */
}

.paragrafo {
    max-width: 45%;
    text-align: center; /* Alinhar o texto ao centro */
    margin: 20px; /* Espaçamento uniforme em todas as direções */
    color: var(--textoFooter);
    font-weight: 500;
}


.destaque {
    font-size: 2.4rem; /* Tamanho de fonte maior */
    font-weight: bold; /* Texto em negrito */
    color: var(--textoEscuro); /* Cor laranja definida anteriormente */
    margin-right: 45px;
}

.imagemNatal {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar horizontalmente */
    margin-top: 4%;
}

.imagemNatal img {
    width: 60%;
    height: auto;
    border-radius: 16px;
    box-shadow: 30px 0px 60px rgba(0, 0, 0, 0.205);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333; /* Cor de fundo opcional */
    color: white; /* Cor do texto no footer */
    padding: 20px; /* Espaçamento interno para melhorar a aparência */
    width: 100%; /* Ocupar 100% da largura da página */
}


/* Floating WhatsApp Icon Styles */

i.fas.fa-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 44px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 800;
}

.whatsapp-icon i {
    line-height: 1;
}

.whatsapp-icon:hover {
    background-color: #1eac52;
}

/* Bloquear o overflow em telas maiores */
@media screen and (min-width: 769px) {
    body {
        overflow: hidden; /* Bloquear tanto o scroll vertical quanto o horizontal */
    }
}


@media screen and (max-width: 1024px) {
    body {
        overflow: scroll;
    }
}


@media screen and (max-width: 768px) {

    body {
        overflow: scroll;
    }

    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .paragrafo {
        max-width: 100%;
        margin: 10px;
        margin-bottom: 10%;
        margin-top: 75px;
    }

    .destaque {
        font-size: 2rem;
        margin-right: 0;
    }

    .imagemNatal {
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .imagemNatal img {
        width: 90%;
    }

    footer {
        position: relative;
        flex-direction: column;
        align-items: center;
        min-height: 100vh; /* Ocupar 100% da altura da janela de visualização */
        width: 100%; /* Ocupar 100% da largura */
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Altere a largura para ocupar toda a largura disponível */
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .logoFooter img {
        margin-top: 20px;
    }

    .services,
    .social {
        display: none;
    }

    .services,
    .social,
    .newsletter {
        flex-basis: auto; /* Permita que os elementos cresçam automaticamente */
    }

    .newsletter input,
    .newsletter button {
        max-width: 100%;
    }

    .newsletter h3 {
        margin-top: 10px;
        width: auto; /* Permita que o elemento cresça conforme necessário */
    }
}
