@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --laranja: #F65A38;
    --fundoLandingPage: #F9F6F7;
    --corpoDoc: #F4EFF0;
    --textoEscuro: #1C1718;
    --fundoCard: #D9D9D9;
    --corEscuraFooter: #232323;
    --textoFooter: #5B5B5B;
    --branco: #FFFFFF;
}

/* Header Styles */

header {
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 9%;
    background: rgb(249, 246, 247);
    background: linear-gradient(180deg, rgba(249, 246, 247, 1) 1%, rgba(255, 255, 255, 0) 100%);
}

.navlista{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
}

.navlista-links {
    display: flex; /* Exibir os itens da lista em linha */
    align-items: center; /* Alinhar verticalmente no centro */
}

.navlista li {
    padding: 20px; /* Mova o padding de .navlista para os itens da lista aqui */
    margin-right: 20px;
}

.navlista a {
    border-bottom: 2px solid transparent;
    transition: all .55s ease-in;
    color: var(--textoEscuro);
}


.navlista a:hover {
    border-bottom: 2px solid var(--textoEscuro);
}

#numberHeader {
    margin-left: auto;
    color: var(--laranja);
    font-weight: 700;
}

/* Mobile Menu Styles */
.mobile-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: var(--textoEscuro);
    transition: 0.3s;
}

.conteudo {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    flex-wrap: wrap; /* Para garantir que os elementos fiquem na mesma linha */
}

.paragrafo {
    max-width: 40%; /* Ajuste o valor conforme necessário */
    text-align: center; /* Alinhar o texto ao centro */
    margin: 0 20px; /* Espaçamento entre a imagem e o parágrafo */
    display: flex;
    align-items: center; /* Alinhar verticalmente */
    justify-content: flex-start; /* Alinhar à esquerda */
}

.imagemNatal {
    display: flex;
    align-items: center; /* Alinhar verticalmente */
    justify-content: flex-end; /* Alinhar à direita */
    margin-top: 20px; /* Adicione um espaçamento superior */
    flex: 1; /* Ocupar espaço restante */
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--laranja);
    color: var(--textoFooter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.footer-bottom {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoFooter img {
    width: 200px;
    height: auto;
    margin-top: 55px;
}

.services,
.social,
.newsletter {
    flex-basis: calc(25% - 20px);
}

.social a,
.services a {
    color: var(--textoFooter);
    display: block;
    margin-top: 10px;
}


.social h3,
.services h3 {
    color: var(--textoFooter);
}

.newsletter {
    text-align: center;
}

#textoNewsletter{
    font-size: 20px;
    color: var(--textoFooter);
    font-weight: 500;
    text-align: center; /* Alinhar ao centro horizontalmente */
    width: 100%;
    margin: 0 auto;
    position: relative;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

.newsletter h3 {
    margin-top: 20px;
}

.newsletter input {
    padding: 6px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--corEscuraFooter);
    color: var(--corEscuraFooter);
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
}

.newsletter input:focus {
    outline: none;
    box-shadow: none;
}

.newsletter button {
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    max-width: 120px;
    margin-top: 10px;
    color: var(--corpoDoc);
    background-color: var(--corEscuraFooter);
    border: none;
}

.newsletter button:hover {
    background-color: #313131;
}

.divider {
    width: 95%;
    height: 1px;
    background-color: #232323;
    border: none;
    margin-top: 60px;
}

.computec {
    display: flex;
    align-items: center; /* Alinhar verticalmente no centro */
}

.computec img {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Adicione um espaço entre a imagem e o cabeçalho */
}

.computec h3 {
    margin: 0; /* Remova as margens padrão */
    color: var(--textoEscuro);
    font-size: 18px; /* Ajuste o tamanho conforme necessário */
    font-weight: 600;
}

/* Posicionamento do logotipo "computec" */
#logoComputec {
    margin-right: auto;
    margin-left: 9%;
}

/* Posicionamento do botão "right" */
#right {
    margin-left: auto;
    margin-right: 9%;
}

/* Floating WhatsApp Icon Styles */

i.fas.fa-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 44px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 800;
}

.whatsapp-icon i {
    line-height: 1;
}

.whatsapp-icon:hover {
    background-color: #1eac52;
}

