/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --laranja: #F65A38;
    --fundoLandingPage: #F9F6F7;
    --corpoDoc: #F4EFF0;
    --textoEscuro: #1C1718;
    --fundoCard: #D9D9D9;
    --corEscuraFooter: #232323;
    --textoFooter: #5B5B5B;
    --branco: #FFFFFF;
}

/* Header Styles */

header {
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 9%;
    background: rgb(249, 246, 247);
    background: linear-gradient(180deg, rgba(249, 246, 247, 1) 1%, rgba(255, 255, 255, 0) 100%);
}

.navlista{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
}

.navlista-links {
    display: flex; /* Exibir os itens da lista em linha */
    align-items: center; /* Alinhar verticalmente no centro */
}

.navlista li {
    padding: 20px; /* Mova o padding de .navlista para os itens da lista aqui */
    margin-right: 20px;
}

.navlista a {
    border-bottom: 2px solid transparent;
    transition: all .55s ease-in;
    color: var(--textoEscuro);
}


.navlista a:hover {
    border-bottom: 2px solid var(--textoEscuro);
}

#numberHeader {
    margin-left: auto;
    color: var(--laranja);
    font-weight: 700;
}

/* Mobile Menu Styles */
.mobile-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 5px;
    background-color: var(--textoEscuro);
    transition: 0.3s;
}


/* Landing Page Styles */

.landingPage {
    height: 100%;
    width: 100%;
    min-height: 85vh;
    background-color: var(--fundoLandingPage);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    font-size: 1.2vw;
    text-align: center;
}

.landingPage h1{
    color: var(--textoEscuro);
}

#icon1,
#icon2,
#icon3 {
    position: absolute;
    width: 2%; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

#icon1 {
    top: 25%; /* Ajuste a posição vertical conforme necessário */
    left: 15%; /* Ajuste a posição horizontal conforme necessário */
}

#icon2 {
    top: 32%; /* Ajuste a posição vertical conforme necessário */
    right: 60%; /* Ajuste a posição horizontal conforme necessário */
}

#icon3 {
    bottom: 48%; /* Ajuste a posição vertical conforme necessário */
    left: 10%; /* Ajuste a posição horizontal conforme necessário */
}


#imagemLP {
    width: 650px;
    height: auto;
    margin: 100px;
}

#palavraSucesso,
#palavraProspere {
    color: var(--laranja);
}

.gota {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100vh;
    background: linear-gradient(180deg, rgba(249,246,247,1) 96%, rgba(255,255,255,1) 96%);
    padding: 0;
}

.gota svg path {
    fill: var(--branco);
}


.gota img {
    position: absolute;
    top: 50%; /* Ajuste verticalmente */
    left: 50%; /* Ajuste horizontalmente */
    transform: translate(-50%, -50%); /* Centralizar o elemento */
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    z-index: 2; /* Garante que o SVG fique sobre a gota */
}



#descricaoGeralh1 {
    font-size: 1.5vw;
    color: var(--textoEscuro);
    font-weight: 500;
    text-align: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}



.descricaoGeralp,
.descricaoFinalp {
    font-size: 1vw;
    color: var(--textoEscuro);
    font-weight: 300;
    text-align: center; /* Alinhar ao centro horizontalmente */
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.descricaoGeralp::after {
    content: ""; /* Conteúdo vazio */
    display: inline-block;
    width: 100%; /* Ocupar todo o espaço disponível */
}

.descricaoFinalp{
    color: var(--corEscuraFooter);
    font-weight: 400;
}


/* Adicione estas regras ao seu CSS existente */
.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    gap: 20px;
    max-width: 75%; /* Ocupar até 70% da largura da tela */
    margin: 0 auto; /* Centralizar horizontalmente */
    margin-top: 20px;
}

.grid-list li {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhar conteúdo ao centro */
    text-align: center;
    width: 80%; /* Ocupar até 70% da largura */
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 20px;
}

.grid-list p {
    font-weight: 300;
    color: var(--textoFooter);
}


#aspas {
    width: calc(100% - 400px); /* Largura calculada relativa à margem */
    max-width: 40px;
    height: auto;
    margin-left: 400px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}


#frase {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    text-align: center;
    overflow: auto;
    font-weight: 500;
    font-size: 20px;
    color: var(--textoEscuro);
}

#sairCK {
    display: inline-block;
    color: var(--fundoLandingPage);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: var(--laranja);
    border-radius: 5px;
}

.enviar-button,
.newsletter button {
    display: inline-block;
    background-color: var(--laranja);
    color: var(--fundoLandingPage);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar-button:hover,
.newsletter button:hover {
    background-color: #FF7749;
}

/* Footer Styles */

footer {
    background-color: var(--laranja);
    min-height: 35vh;
    padding: 20px;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    margin-top: 15%;
    margin-right: 60px;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.divider {
    border: none;
    border-top: 1px solid var(--corEscuraFooter);
    width: 90%;
    margin-top: 90px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap; /* Adicione esta linha para permitir que os elementos quebrem para uma nova linha */
}
.computec,
.rights {
    display: flex;
    align-items: center;
    color: var(--corEscuraFooter);
}

.computec img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.computec h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}


.rights p {
    margin: 0;
    font-size: 16px;
}


.services,
.social,
.newsletter {
    grid-column: span 1;
}

.social a,
.services a{
    color: var(--textoFooter);
}

.social h3,
.services h3 {
    color: var(--textoFooter);
}

h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.newsletter {
    grid-column: 4;
    text-align: center;
}

#textoNewsletter {
    width: 17vw;
}

.newsletter input {
    padding: 6px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--corEscuraFooter);
    color: var(--corEscuraFooter);
    width: 15vw;
    margin-top: 10px;
}

.newsletter input:focus {
    outline: none;
}

.newsletter input::placeholder {
    color: var(--corEscuraFooter);
}

.newsletter button {
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    width: 8vw;
    margin-top: 10px;
    color: var(--corpoDoc);
    background-color: var(--corEscuraFooter);
}

.newsletter button:hover {
    background-color: #313131;
}

/* Floating WhatsApp Icon Styles */

i.fas.fa-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 44px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 800;
}

.whatsapp-icon i {
    line-height: 1;
}

.whatsapp-icon:hover {
    background-color: #1eac52;
}

/* Media Queries */

/* Media Queries */
@media screen and (max-width: 1024px) {
    /* Ajuste o cabeçalho */
    header {
        padding: 20px 5%;
    }

    .navlista a {
        margin-left: 15px;
    }

    /* Ajuste o tamanho da fonte da página de destino */
    .landingPage {
        font-size: 3vw;
    }

    /* Ajuste a largura da imagem de fundo */
    #imagemLP {
        width: 100%;
        margin: 20px 0;
    }

    /* Ajuste o tamanho dos ícones */
    #icon1,
    #icon2,
    #icon3 {
        width: 30px;
    }

    /* Ajuste a posição dos ícones */
    #icon1 {
        top: 20%;
        left: 5%;
    }

    #icon2 {
        top: 40%;
        right: 5%;
    }

    #icon3 {
        bottom: 20%;
        left: 5%;
    }

    .grid-list {
        grid-template-columns: 1fr; /* Apenas uma coluna por linha */
    }

    /* Ajuste o tamanho da fonte do rodapé */
    footer {
        padding: 20px 5%;
    }


    .newsletter {
        grid-column: span 4;
    }

    /* Ajuste o tamanho do texto do formulário de newsletter */
    #textoNewsletter {
        width: 100%;
    }

    /* Ajuste a largura e margem do campo de entrada de texto do formulário de newsletter */
    .newsletter input {
        width: 100%;
        max-width: 250px;
    }

    /* Ajuste a largura e margem do botão do formulário de newsletter */
    .newsletter button {
        width: 100%;
        max-width: 120px;
    }
}

@media screen and (max-width: 768px) {
    /* Ajuste o tamanho do cabeçalho e os ícones do menu para dispositivos móveis */
    header {
        padding: 20px 5%;
    }

    .landingPage {
        /* Ajuste a altura da Landing Page para se adequar a telas menores */
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landingPage h1 {
        margin-top: 150px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    #imagemLP {
        width: 100%;
        max-width: 400px;
    }


    /* Ocultar o número de contato no cabeçalho */
    #numberHeader {
        display: none;
    }

    .navlista {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: var(--fundoLandingPage);
        padding: 20px;
        z-index: 999;
    }

    .navlista.active {
        display: flex;
    }

    .mobile-menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    .bar {
        width: 30px;
        height: 5px;
        background-color: var(--textoEscuro);
        transition: 0.3s;
    }


    .navlista li {
        margin: 10px 0;
    }

    .gota {
        width: 100%; /* Tornar a largura responsiva */
        background: linear-gradient(180deg, rgba(249,246,247,1) 90%, rgba(255,255,255,1) 90%);
    }

    .gota img {
        width: 30px; /* Reduzir o tamanho do ícone para dispositivos menores */
        height: 30px; /* Reduzir o tamanho do ícone para dispositivos menores */
    }

    /* Ajuste a posição dos ícones e os estilos do formulário */
    #icon1,
    #icon2,
    #icon3 {
        width: 25px;
    }

    #icon1 {
        top: 18%;
        left: 28%;
    }

    #icon2 {
        top: 23%;
        right: 11%;
    }

    #icon3 {
        bottom: 62%;
        left: 15%;
    }

    #descricaoGeralh1 {
        font-size: 5vw; /* Tamanho responsivo menor para h1 em telas menores */
    }

    #descricaoGeralp {
        font-size: 4vw; /* Tamanho responsivo menor para p em telas menores */
    }

    /* Ajuste o tamanho dos elementos do formulário */
    .newsletter input,
    .newsletter button {
        width: 100%;
        max-width: none; /* Remova a limitação máxima de largura */
    }

    .services, .social {
        grid-column: span 1;
    }

    footer img {
        width: 100%;
        max-width: 200px;
        margin-top: 45px;
    }

    .computec img {
        margin-bottom: 45px;
    }

}
