@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --laranja: #F65A38;
    --fundoLandingPage: #F9F6F7;
    --corpoDoc: #F4EFF0;
    --textoEscuro: #1C1718;
    --fundoCard: #D9D9D9;
}

body {
    color: var(--textoEscuro);
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 9%;
    background: rgb(249,246,247);
    background: linear-gradient(180deg, rgba(249,246,247,1) 1%, rgba(255,255,255,0) 100%);

}

.navlista{
    display: flex;
    color: var(--textoEscuro);
}

.navlista a{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease-in;
    color: var(--textoEscuro);
}

.navlista a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

#numberHeader{
    margin-left: auto;
    color: var(--laranja);
    font-weight: 700;
}

.landingPage{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: var(--fundoLandingPage);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    font-size: 1.5vw;
    text-align: center;
}

section {
    padding: 0 10%
}

#imagemLP {
    width: 100%;
    height: auto;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.grid-list li {
    padding: 10px;
}

.grid-list h3 {
    margin-bottom: 20px;
    margin-top: 15px;
}

.grid-list li img {
    width: 100px;
    height: 150px;
}

#img1 {
    margin-top: 55px;
}
