@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --laranja: #F65A38;
    --fundoLandingPage: #F9F6F7;
    --corpoDoc: #F4EFF0;
    --textoEscuro: #1C1718;
    --fundoCard: #D9D9D9;
    --corEscuraFooter: #232323;
    --textoFooter: #5B5B5B;
}

body {
    color: var(--textoEscuro);
}

header {
    margin-top: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 9%;
    background: rgb(249, 246, 247);
    background: linear-gradient(180deg, rgba(249, 246, 247, 1) 1%, rgba(255, 255, 255, 0) 100%);
}

.navlista a{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease-in;
    color: var(--textoEscuro);
}

.navlista a:hover{
    border-bottom: 2px solid var(--textoEscuro);
}

#numberHeader {
    margin-left: auto;
    color: var(--laranja);
    font-weight: 700;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
}

/* Estilos para o menu hamburguer quando estiver ativo (visível) */
.hamburger.active {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--fundoLandingPage);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    z-index: 999;
}

.hamburger.active .navlista {
    flex-direction: column;
}

.hamburger.active .navlista li {
    margin: 20px 0;
}

.hamburger.active .navlista a {
    border-bottom: none;
}

.navlista {
    display: flex;
    color: var(--textoEscuro);
}



.landingPage {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: var(--fundoLandingPage);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    font-size: 1.5vw;
    text-align: center;
}

section {
    padding: 0 10%;
}

#imagemLP {
    width: 100%;
    height: auto;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    list-style-type: none;
    align-items: center;
    text-align: center;
}

.grid-list li {
    padding: 10px;
}

.grid-list h3 {
    margin-bottom: 20px;
    margin-top: 15px;
}

.grid-list li img {
    width: 100px;
    height: 150px;
}

#img1 {
    margin-top: 55px;
}

#aspas {
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-top: 20px;
}

#frase {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    text-align: center;
    overflow: auto;
    font-weight: 500;
    font-size: 20px;
    color: var(--textoEscuro);
}

footer {
    background-color: var(--laranja);
    min-height: 40vh;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.logoFooter {
    grid-column: 1;
    margin-right: 200px; /* Adiciona espaçamento à direita da logo */
}

.services,
.social,
.newsletter {
    grid-column: span 1;
}

h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.newsletter {
    grid-column: 4;
    text-align: center;
}

#textoNewsletter{
    width: 17vw;
}

.newsletter input {
    padding: 6px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--corEscuraFooter);
    color: var(--corEscuraFooter);
    width: 15vw;
    margin-top: 10px;
}

.newsletter input:focus {
    outline: none;
}

.newsletter input::placeholder {
    color: var(--corEscuraFooter);
}

.newsletter button {
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    width: 8vw;
    margin-top: 10px;
    color: var(--corpoDoc);
    background-color: var(--corEscuraFooter);
}

.newsletter button:hover{
    background-color: #313131;
}

/* Estilize o ícone conforme desejado */
i.fas.fa-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
/* Estilos para o ícone do WhatsApp */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    font-size: 44px;
    width: 70px; /* Tamanho fixo */
    height: 70px; /* Tamanho fixo */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex; /* Torna o elemento flexível para centralizar conteúdo */
    align-items: center; /* Centraliza verticalmente o ícone */
    justify-content: center; /* Centraliza horizontalmente o ícone */
    transition: background-color 0.3s ease;
    z-index: 800;
}

.whatsapp-icon i {
    line-height: 1; /* Ajusta o alinhamento do ícone */
}

.whatsapp-icon:hover {
    background-color: #128C7E;
}

  

/* Para telas com largura de até 1024px */
@media screen and (max-width: 1024px) {
    header {
        padding: 20px 5%; /* Ajusta o padding do header */
    }

    .navlista a {
        margin-left: 15px; /* Ajusta o espaçamento entre os itens do menu */
    }

    .landingPage {
        grid-template-columns: 1fr; /* Altera para uma coluna */
        font-size: 3vw; /* Ajusta o tamanho da fonte */
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr); /* Reduz para duas colunas */
        grid-gap: 50px; /* Ajusta o espaçamento entre os itens do grid */
    }

    #frase {
        width: 80%; /* Ajusta a largura do elemento frase */
    }
}

/* Para telas com largura de até 768px */
@media screen and (max-width: 768px) {

    .logoTopo {
        width: 10px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Reduz para duas colunas */
    }

    .newsletter {
        margin-left: 0; /* Remove o espaçamento lateral do newsletter */
    }

    .grid-list {
        grid-template-columns: 1fr; /* Reduz para uma coluna */
    }

    .logoFooter, .services, .social, .newsletter {
        margin: 0; /* Remove o espaçamento lateral de todos os elementos */
    }

    .navlista {
        display: none; /* Oculta a lista de navegação em telas menores */
    }

    .hamburger {
        display: block;
        top: 20px; /* Ajuste o posicionamento vertical do ícone hamburguer conforme necessário */
        left: 9%; /* Ajuste o posicionamento horizontal do ícone hamburguer conforme necessário */
        z-index: 1000;
      }
    
    
      .navlista {
        display: none; /* Ocultar a lista de navegação padrão em telas menores */
      }
    
      /* Mostrar a lista de navegação quando o menu hamburguer estiver ativo */
      .navlista.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: var(--fundoLandingPage); /* Adicione a cor de fundo desejada para o menu */
        padding: 20px;
        position: absolute;
        top: 60px; /* Ajuste o posicionamento vertical do menu hamburguer conforme necessário */
        right: 0; /* Ajuste o posicionamento horizontal do menu hamburguer na extremidade direita da tela */
        width: 180px; /* Ajuste a largura do menu hamburguer conforme necessário */
        z-index: 999;
        border-radius: 20px;
      }
    
      /* Ajuste os estilos dos links da lista de navegação */
      .navlista.active li {
        margin: 10px 0;
      }

    #numberHeader {
        display: none;
    }

    .landingPage h1 {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Altera para uma coluna */
        justify-items: center; /* Centraliza horizontalmente os itens */
    }

    .logoFooter, .services, .social, .newsletter {
        margin: 0; /* Remove o espaçamento lateral de todos os elementos */
    }
}
